/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/ 

 /* NOLLSTÄLLNING AV CSS I WEBLÄSARE! BÖRJAN*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*NOLLSTÄLLNING AV CSS I WEBLÄSARE! SLUT*/

/*MOBIL LAYOUT!!!*/
@media only screen and (max-width : 500px) {
    
   
    body {
        width: 100%;
        font: 14px "Lato", Helvetica, Arial, sans-serif;
        background: lightgray;
    }
    
    #hembg {
            
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center top;
            background-attachment: fixed;
        }
    
    
        
    
    nav ul {
            text-align: center;
            padding: 6% 0;
        
        }
    
        nav ul li {
            display: inline;
            margin: 0 3%;
        
        }
    
        nav ul li a {
            color:black;
            text-decoration: none;
            font-size: 1.2em;
            font-weight: bold;
        }
    
        nav ul li a:hover {
            color: darkgrey;
        }
    
        nav ul li a:active {
            color: slategray;
        }
    
        .luft {
            margin: 0;
            padding: 20% 0;
        }
    
        .luft2 {
            margin: 0;
            padding: 7% 0;
        }
    
        #logo {
            width: 100%;
            display: block;
            margin: 0 auto;
    }
    
    #pagewrap {
        width: 100%;
        background-color: lightgray;
        padding: 4% 0 0 0;
        
    }
    
    h1, h2, h3, h4, h5, h6, h7 {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-weight: 900;
        color: black;
    }
    
    h1 {
        font-size: 2.5714285714285716em; 
        text-align: center;
        line-height: 1.5em;
        margin: 2% 0 10% 0;
    }
    
    
    
    h2 {
        font-size: 1.2857142857142858em; 
        text-align: left;
        line-height: 1.5em;
        margin: 7% 0 2% 0;
    }
    h3 {
        font-size: 2.5714285714285716em; 
        text-align: center;
        line-height: 1.5em;
        margin: 2% 0 10% 0;
        color: white;
    }
    
    .brodtext {
        
        width: 90%;
        margin: 0 auto;
    }
    
    .brodtext p {
        text-align: justify;
        font-size: 1.2em;
        line-height: 1.5em;
    }
    
    .colorbox {
        background-color: rgba(0, 0, 0, 1);
        padding: 4% 0 4% 0;
        margin: 20% 0 0 0;
    }
    
    .colorbox h1 {
        color: lightgray;
        margin: 0;
     }
    
    .colorbox .brodtext {
        color: lightgray;
        
    }
    
    .colorbox p {
        text-align: center;
    }
    
    .media {
        width: 98%;
        text-align: center;
        
    }
    
    .video {
        width: 400px;
        height: 280px;
        margin: 1% 
    }
    
    form {
        margin: 0 0 16% 0;
    }
    
    input {
        width: 100%;
        background: none;
    }
    
    input[type=text] {
        width: 99%;
        font-size: 1.2em;
        margin: 2% 0;
        border: none;
        border-bottom: 1px solid lightgray;
        padding: 0 0 0 1%;
    }
    
    #textarea {
        padding: 0 0 23% 1%;
        border: 1px solid lightgray;
    }
    
    input[type=button], input[type=submit], input[type=reset] {
        background-color: dimgrey;
        border: none;
        Color: blanchedalmond;
        font-size: 1.5em;
        text-align: center;
        padding: 1% 0;
        margin: 0.5% 0.5%
        
        .w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
            
            
    }
    
    
    #slideshowtextmobil {
        width: 80%;
        padding: 30% 10%;
        background-image: url(../Bilder/B-25%2520Mitchell/B-25%20photo.jpg);
        background-repeat: no-repeat;
    }
    
    footer {
        padding: 0 0 8% 0;
        background-color: lightgray; 
    }
    
    footer ul {
            text-align: center;
            padding: 7% 0 3% 0;
            
        
        }
    
        footer ul li {
            display: inline;
            margin: 0 2%;
        
        }
    
        footer ul li a {
            color:black;
            text-decoration: none;
            font-size: 1em;
            font-weight: bold;
        }
    
        footer ul li a:hover {
            color: darkgrey;
        }
    
        footer ul li a:active {
            color: slategray;
        }
        
    footer p {
        text-align: center;
        font-size: 1.1em;
        margin: 0 0 2% 0;
    }
}











/*TABLET PORTRAIT LAYOUT!!!*/
 @media only screen and (min-width : 481px) and (max-width : 768px) {
    
    
    body {
        width: 100%;
        font: 14px "Lato", Helvetica, Arial, sans-serif;
        background: white;
    }
    
    #hembg {
            background-image: url(../Bilder/clouds-s.jpg);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center top;
            background-attachment: fixed;
        }
    
    
        
    
    nav ul {
            text-align: center;
            padding: 6% 0;
        
        }
    
        nav ul li {
            display: inline;
            margin: 0 3%;
        
        }
    
        nav ul li a {
            color:black;
            text-decoration: none;
            font-size: 1.2em;
            font-weight: bold;
        }
    
        nav ul li a:hover {
            color: darkgrey;
        }
    
        nav ul li a:active {
            color: slategray;
        }
    
        .luft {
            margin: 0;
            padding: 20% 0;
        }
    
        .luft2 {
            margin: 0;
            padding: 7% 0;
        }
    
        #logo {
            width: 100%;
            display: block;
            margin: 0 auto;
    }
    
    #pagewrap {
        width: 100%;
        background-color: lightgray;
        padding: 4% 0 0 0;
        
    }
    
    h1, h2, h3, h4, h5, h6, h7 {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-weight: 900;
        color: black;
    }
    
    h1 {
        font-size: 2.5714285714285716em; 
        text-align: center;
        line-height: 1.5em;
        margin: 2% 0 10% 0;
    }
    
    
    
    h2 {
        font-size: 1.2857142857142858em; 
        text-align: left;
        line-height: 1.5em;
        margin: 7% 0 2% 0;
    }
    h3 {
        font-size: 2.5714285714285716em; 
        text-align: center;
        line-height: 1.5em;
        margin: 2% 0 10% 0;
        color: white;
    }
    
    .brodtext {
        
        width: 90%;
        margin: 0 auto;
    }
    
    .brodtext p {
        text-align: justify;
        font-size: 1.2em;
        line-height: 1.5em;
    }
    
    .colorbox {
        background-color: rgba(0, 0, 0, 1);
        padding: 4% 0 4% 0;
        margin: 20% 0 0 0;
    }
    
    .colorbox h1 {
        color: lightgray;
        margin: 0;
     }
    
    .colorbox .brodtext {
        color: lightgray;
        
    }
    
    .colorbox p {
        text-align: center;
    }
    
    .media {
        width: 98%;
        text-align: center;
        
    }
    
    .video {
        width: 400px;
        height: 280px;
        margin: 1% 
    }
    
    form {
        margin: 0 0 16% 0;
    }
    
    input {
        width: 100%;
        background: none;
    }
    
    input[type=text] {
        width: 99%;
        font-size: 1.2em;
        margin: 2% 0;
        border: none;
        border-bottom: 1px solid lightgray;
        padding: 0 0 0 1%;
    }
    
    #textarea {
        padding: 0 0 23% 1%;
        border: 1px solid lightgray;
    }
    
    input[type=button], input[type=submit], input[type=reset] {
        background-color: dimgrey;
        border: none;
        Color: blanchedalmond;
        font-size: 1.5em;
        text-align: center;
        padding: 1% 0;
        margin: 0.5% 0.5%     
    }

.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
   #slideshow img{
        width: 100%;
    }

    #slideshow{
        width: 100%;
        height: 100%;
        position: relative;
        background-color: gray;
        text-align: center;
    }
    
   
    
    footer {
        padding: 0 0 8% 0;
        background-color: lightgray; 
    }
    
    footer ul {
            text-align: center;
            padding: 7% 0 3% 0;
            
        
        }
    
        footer ul li {
            display: inline;
            margin: 0 2%;
        
        }
    
        footer ul li a {
            color:black;
            text-decoration: none;
            font-size: 1em;
            font-weight: bold;
        }
    
        footer ul li a:hover {
            color: darkgrey;
        }
    
        footer ul li a:active {
            color: slategray;
        }
        
    footer p {
        text-align: center;
        font-size: 1.1em;
        margin: 0 0 2% 0;
    }
}








/*Laptop LAYOUT!!!*/
@media only screen and (min-width : 769px) and (max-width : 1024px) {
    
    
    body {
        width: 100%;
        font: 14px "Lato", Helvetica, Arial, sans-serif;
        background: white;
    }
    
    #hembg {
            background-image: url(../Bilder/clouds-s.jpg);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center top;
            background-attachment: fixed;
        }
    
    
        
    
    nav ul {
            text-align: center;
            padding: 6% 0;
        
        }
    
        nav ul li {
            display: inline;
            margin: 0 3%;
        
        }
    
        nav ul li a {
            color:black;
            text-decoration: none;
            font-size: 1.2em;
            font-weight: bold;
        }
    
        nav ul li a:hover {
            color: darkgrey;
        }
    
        nav ul li a:active {
            color: slategray;
        }
    
        .luft {
            margin: 0;
            padding: 20% 0;
        }
    
        .luft2 {
            margin: 0;
            padding: 7% 0;
        }
    
        #logo {
            width: 100%;
            display: block;
            margin: 0 auto;
    }
    
    #pagewrap {
        width: 100%;
        background-color: lightgray;
        padding: 4% 0 0 0;
        
    }
    
    h1, h2, h3, h4, h5, h6, h7 {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-weight: 900;
        color: black;
    }
    
    h1 {
        font-size: 2.5714285714285716em; 
        text-align: center;
        line-height: 1.5em;
        margin: 2% 0 10% 0;
    }
    
    
    
    h2 {
        font-size: 1.2857142857142858em; 
        text-align: left;
        line-height: 1.5em;
        margin: 7% 0 2% 0;
    }
    h3 {
        font-size: 2.5714285714285716em; 
        text-align: center;
        line-height: 1.5em;
        margin: 2% 0 10% 0;
        color: white;
    }
    
    .brodtext {
        
        width: 90%;
        margin: 0 auto;
    }
    
    .brodtext p {
        text-align: justify;
        font-size: 1.2em;
        line-height: 1.5em;
    }
    
    .colorbox {
        background-color: rgba(0, 0, 0, 1);
        padding: 4% 0 4% 0;
        margin: 20% 0 0 0;
    }
    
    .colorbox h1 {
        color: lightgray;
        margin: 0;
     }
    
    .colorbox .brodtext {
        color: lightgray;
        
    }
    
    .colorbox p {
        text-align: center;
    }
    
    .media {
        width: 98%;
        text-align: center;
        
    }
    
    .video {
        width: 400px;
        height: 280px;
        margin: 1% 
    }
    
    form {
        margin: 0 0 16% 0;
    }
    
    input {
        width: 100%;
        background: none;
    }
    
    input[type=text] {
        width: 99%;
        font-size: 1.2em;
        margin: 2% 0;
        border: none;
        border-bottom: 1px solid lightgray;
        padding: 0 0 0 1%;
    }
    
    #textarea {
        padding: 0 0 23% 1%;
        border: 1px solid lightgray;
    }
    
    input[type=button], input[type=submit], input[type=reset] {
        background-color: dimgrey;
        border: none;
        Color: blanchedalmond;
        font-size: 1.5em;
        text-align: center;
        padding: 1% 0;
        margin: 0.5% 0.5%     
    }

.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
   #slideshow img{
        width: 100%;
    }

    #slideshow{
        width: 100%;
        height: 100%;
        position: relative;
        background-color: gray;
        text-align: center;
    }
    
   
    
    footer {
        padding: 0 0 8% 0;
        background-color: lightgray; 
    }
    
    footer ul {
            text-align: center;
            padding: 7% 0 3% 0;
            
        
        }
    
        footer ul li {
            display: inline;
            margin: 0 2%;
        
        }
    
        footer ul li a {
            color:black;
            text-decoration: none;
            font-size: 1em;
            font-weight: bold;
        }
    
        footer ul li a:hover {
            color: darkgrey;
        }
    
        footer ul li a:active {
            color: slategray;
        }
        
    footer p {
        text-align: center;
        font-size: 1.1em;
        margin: 0 0 2% 0;
    }
}









/*Laptop LARGE LAYOUT!!!*/
@media only screen and (min-width : 1025px) and (max-width : 1440px) {
    
    body {
        width: 100%;
        font: 14px "Lato", Helvetica, Arial, sans-serif;
        background: white;
    }
    
    #hembg {
            background-image: url(../Bilder/clouds-s.jpg);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center top;
            background-attachment: fixed;
        }
    
    
        
    
    nav ul {
            text-align: center;
            padding: 6% 0;
        
        }
    
        nav ul li {
            display: inline;
            margin: 0 3%;
        
        }
    
        nav ul li a {
            color:black;
            text-decoration: none;
            font-size: 1.2em;
            font-weight: bold;
        }
    
        nav ul li a:hover {
            color: darkgrey;
        }
    
        nav ul li a:active {
            color: slategray;
        }
    
        .luft {
            margin: 0;
            padding: 20% 0;
        }
    
        .luft2 {
            margin: 0;
            padding: 7% 0;
        }
    
        #logo {
            width: 100%;
            display: block;
            margin: 0 auto;
    }
    
    #pagewrap {
        width: 100%;
        background-color: lightgray;
        padding: 4% 0 0 0;
        
    }
    
    h1, h2, h3, h4, h5, h6, h7 {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-weight: 900;
        color: black;
    }
    
    h1 {
        font-size: 2.5714285714285716em; 
        text-align: center;
        line-height: 1.5em;
        margin: 2% 0 10% 0;
    }
    
    
    
    h2 {
        font-size: 1.2857142857142858em; 
        text-align: left;
        line-height: 1.5em;
        margin: 7% 0 2% 0;
    }
    h3 {
        font-size: 2.5714285714285716em; 
        text-align: center;
        line-height: 1.5em;
        margin: 2% 0 10% 0;
        color: white;
    }
    
    .brodtext {
        
        width: 90%;
        margin: 0 auto;
    }
    
    .brodtext p {
        text-align: justify;
        font-size: 1.2em;
        line-height: 1.5em;
    }
    
    .colorbox {
        background-color: rgba(0, 0, 0, 1);
        padding: 4% 0 4% 0;
        margin: 20% 0 0 0;
    }
    
    .colorbox h1 {
        color: lightgray;
        margin: 0;
     }
    
    .colorbox .brodtext {
        color: lightgray;
        
    }
    
    .colorbox p {
        text-align: center;
    }
    
    .media {
        width: 98%;
        text-align: center;
        
    }
    
    .video {
        width: 400px;
        height: 280px;
        margin: 1% 
    }
    
    form {
        margin: 0 0 16% 0;
    }
    
    input {
        width: 100%;
        background: none;
    }
    
    input[type=text] {
        width: 99%;
        font-size: 1.2em;
        margin: 2% 0;
        border: none;
        border-bottom: 1px solid lightgray;
        padding: 0 0 0 1%;
    }
    
    #textarea {
        padding: 0 0 23% 1%;
        border: 1px solid lightgray;
    }
    
    input[type=button], input[type=submit], input[type=reset] {
        background-color: dimgrey;
        border: none;
        Color: blanchedalmond;
        font-size: 1.5em;
        text-align: center;
        padding: 1% 0;
        margin: 0.5% 0.5%     
    }

.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
   #slideshow img{
        width: 100%;
    }

    #slideshow{
        width: 100%;
        height: 100%;
        position: relative;
        background-color: gray;
        text-align: center;
    }
    
   
    
    footer {
        padding: 0 0 8% 0;
        background-color: lightgray; 
    }
    
    footer ul {
            text-align: center;
            padding: 7% 0 3% 0;
            
        
        }
    
        footer ul li {
            display: inline;
            margin: 0 2%;
        
        }
    
        footer ul li a {
            color:black;
            text-decoration: none;
            font-size: 1em;
            font-weight: bold;
        }
    
        footer ul li a:hover {
            color: darkgrey;
        }
    
        footer ul li a:active {
            color: slategray;
        }
        
    footer p {
        text-align: center;
        font-size: 1.1em;
        margin: 0 0 2% 0;
    }
}









/*Laptop ALL SCREENS LARGER HEN 2560px centered LAYOUT!!!*/
@media only screen and (min-width : 2561px) {
    
    body {
        width: 100%;
        font: 14px "Lato", Helvetica, Arial, sans-serif;
        background: white;
    }
    
    #hembg {
            background-image: url(../Bilder/clouds-s.jpg);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center top;
            background-attachment: fixed;
        }
    
    
        
    
    nav ul {
            text-align: center;
            padding: 6% 0;
        
        }
    
        nav ul li {
            display: inline;
            margin: 0 3%;
        
        }
    
        nav ul li a {
            color:black;
            text-decoration: none;
            font-size: 1.2em;
            font-weight: bold;
        }
    
        nav ul li a:hover {
            color: darkgrey;
        }
    
        nav ul li a:active {
            color: slategray;
        }
    
        .luft {
            margin: 0;
            padding: 20% 0;
        }
    
        .luft2 {
            margin: 0;
            padding: 7% 0;
        }
    
        #logo {
            width: 100%;
            display: block;
            margin: 0 auto;
    }
    
    #pagewrap {
        width: 100%;
        background-color: lightgray;
        padding: 4% 0 0 0;
        
    }
    
    h1, h2, h3, h4, h5, h6, h7 {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-weight: 900;
        color: black;
    }
    
    h1 {
        font-size: 2.5714285714285716em; 
        text-align: center;
        line-height: 1.5em;
        margin: 2% 0 10% 0;
    }
    
    
    
    h2 {
        font-size: 1.2857142857142858em; 
        text-align: left;
        line-height: 1.5em;
        margin: 7% 0 2% 0;
    }
    h3 {
        font-size: 2.5714285714285716em; 
        text-align: center;
        line-height: 1.5em;
        margin: 2% 0 10% 0;
        color: white;
    }
    
    .brodtext {
        
        width: 90%;
        margin: 0 auto;
    }
    
    .brodtext p {
        text-align: justify;
        font-size: 1.2em;
        line-height: 1.5em;
    }
    
    .colorbox {
        background-color: rgba(0, 0, 0, 1);
        padding: 4% 0 4% 0;
        margin: 20% 0 0 0;
    }
    
    .colorbox h1 {
        color: lightgray;
        margin: 0;
     }
    
    .colorbox .brodtext {
        color: lightgray;
        
    }
    
    .colorbox p {
        text-align: center;
    }
    
    .media {
        width: 98%;
        text-align: center;
        
    }
    
    .video {
        width: 400px;
        height: 280px;
        margin: 1% 
    }
    
    form {
        margin: 0 0 16% 0;
    }
    
    input {
        width: 100%;
        background: none;
    }
    
    input[type=text] {
        width: 99%;
        font-size: 1.2em;
        margin: 2% 0;
        border: none;
        border-bottom: 1px solid lightgray;
        padding: 0 0 0 1%;
    }
    
    #textarea {
        padding: 0 0 23% 1%;
        border: 1px solid lightgray;
    }
    
    input[type=button], input[type=submit], input[type=reset] {
        background-color: dimgrey;
        border: none;
        Color: blanchedalmond;
        font-size: 1.5em;
        text-align: center;
        padding: 1% 0;
        margin: 0.5% 0.5%     
    }

.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
   #slideshow img{
        width: 100%;
    }

    #slideshow{
        width: 100%;
        height: 100%;
        position: relative;
        background-color: gray;
        text-align: center;
    }
    
   
    
    footer {
        padding: 0 0 8% 0;
        background-color: lightgray; 
    }
    
    footer ul {
            text-align: center;
            padding: 7% 0 3% 0;
            
        
        }
    
        footer ul li {
            display: inline;
            margin: 0 2%;
        
        }
    
        footer ul li a {
            color:black;
            text-decoration: none;
            font-size: 1em;
            font-weight: bold;
        }
    
        footer ul li a:hover {
            color: darkgrey;
        }
    
        footer ul li a:active {
            color: slategray;
        }
        
    footer p {
        text-align: center;
        font-size: 1.1em;
        margin: 0 0 2% 0;
    }
}